@import "../globals/mixins";
@import "../globals/variables";
@import "../components/popup";

.popup-btns-container {
  @include flex-center();
  gap: 100px;

  @include phone-screen() {
    flex-flow: column;
  }

  .popup-button {
    background: none;
    border: none;
    @include shadow();
    -webkit-transform: translate3d(0, 0, 0);
    @include border-radius(25px);
    @include box-dimensions(140px, 50px);
    @include flex-center();
    gap: 5px;
    font-weight: bold;
    font-size: 16px;
    &:hover {
      cursor: pointer;
    }

    iconify-icon {
      @include icon-size(20px);
    }
  }

  .login-popup-btn {
    background: white;
    color: black;
  }

  .register-popup-btn {
    background: #848484;
    color: white;
  }
}