//Variables for media queries
$extra-small-screen: 350px;
$small-screen: 480px;
$medium-screen: 740px;
$large-screen: 1024px;

//Header and footer commonly used variables
$font: 'Poppins', sans-serif;
$font-layout-color: #8F8F8F;
$background-color: #EEEEEE;
$layout-background-color: #EFEFEF;
$header-font-size: 25px;
$footer-font-size: 20px;


$label-background: #433839;